<!DOCTYPE HTML>
<html lang="en">

<head>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>

<body>

  <script>
    function showEmail() {
      document.getElementById('emailHolder').innerHTML = 'scanderlousband@gmail.com, mschulz@princeton.edu';
    }
  </script>

  <table>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:left;">
              <h1>
                Scanderlous
              </h1>
              <p>Scanderlous is a <it>graduate student band</it> studying <it> Jazz / Funk / Rock / Pop Covers </it> at
                Princeton University.
                <br>
                <br>
                Please contact us via email below for booking inquiries or other collaborations.
              </p>

              <p style="text-align:center">
                <a href='#' onclick='showEmail()' id='emailHolder'> Email </a> &nbsp;/&nbsp;
                <a href="https://github.com/Scanderlous/">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.youtube.com/@Scanderlous"> YouTube </a> &nbsp;/&nbsp;
                <a href="https://soundcloud.com/matt-schulz-682964376"> SoundCloud </a> &nbsp;/&nbsp;
                <br>
                <a href="https://www.instagram.com/scanderlousband/"> Instagram </a> &nbsp;/&nbsp;
                <a href="https://twitter.com/scanderlousband"> Twitter </a> &nbsp;/&nbsp;
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> CV
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/worldtour.png">
            </td>
          </tr>
        </table>
  </table>

  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:2.5%;width:100%;vertical-align:middle">
        <h2>People</h2>
      </td>
    </tr>
  </table>
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding-left:2.5%;width:35%;vertical-align:middle;min-width:120px">
        <h3>Current Students</h3> <br>
        <table>
          <tr><a href="">Matt Schulz</a> - Saxophone(s) - Ph.D. Student in Physics </tr> <br>
          <tr><a href="">Stefan Clarke</a> - Guitarist - Ph.D. Student in Operations Research & Financial Engineering </tr> <br>
          <tr><a href="">Alexander Raistrick</a> - Bass - Ph.D. Student in Computer Science </tr> <br>
          <tr><a href="">Samuel F. Day-Weiss</a> - Drums - Ph.D. Student in Physics </tr> <br>
          <tr><a href="">Alper Gunes</a> - Keys - Ph.D. Student in Mathematics </tr> <br>
          <tr><a href="">Dylan Blau-Edelstein</a> - Voice  - Ph.D. Student in Spanish & Portugese </tr> <br>
          <tr><a href="">Cathy Ji</a> - Voice - Ph.D. Student in Physics </tr> <br>
          <br>
        </table>
        <h3>Alumni</h3> <br>
        <table>
          <tr><a href="">Maxine Peroni-Scharf</a> - Voice - Masters in Computer Science (now: vocalist/Ph.D. at MIT) </tr> <br>
          <tr><a href="">Melena Laudig</a> - Voice - Ph.D. Religion in America (now: focusing on her dissertation) </tr> <br>
          <br>
        </table>
      </td>
    </tr>
  </table>

  <!-- RESEARCH POSTS-->
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:2.5%;width:100%;vertical-align:middle">
        <h2>Research</h2>
      </td>
    </tr>
  </table>
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

    {% for post in site.posts %}
    {% for cat in post.categories %}
    {% if cat == 'research' %}
    <tr>
      <td style="padding:2.5%;width:35%;vertical-align:middle;min-width:120px">
        <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:50%;" />
      </td>
      <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{post.title}}</h3>
        <br>
        {{post.authors}}
        <br>
        <em>{{post.venue}}</em>
        <br>
        {% if post.arxiv %}
        <a href="{{post.arxiv}}">arxiv</a> /
        {% endif %}
        {% if post.website %}
        <a href="{{post.website}}">website</a> /
        {% endif %}
        {% if post.paper %}
        <a href="{{post.paper}}">publication</a> /
        {% endif %}
        {% if post.video %}
        <a href="{{post.video}}">video</a> /
        {% endif %}
        {% if post.code %}
        <a href="{{post.code}}">setlist</a> /
        {% endif %}
        {% if post.poster %}
        <a href="{{post.poster}}">poster</a> /
        {% endif %}
        {% if post.slides %}
        <a href="{{post.slides}}">slides</a> /
        {% endif %}
        <p></p>
        {{ post.excerpt }}
      </td>
      {% if post.description %}
      <td style="padding:2.5%;width:75%;vertical-align:middle">
        <p>description</p>
      </td>
      {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </table>
  <br>
  <br>
  <br>

  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:0px">
        <br>
        <p style="text-align:center;font-size:small;">
          Design and source code forked from <a href="araistrick.com"> Alexander Raistrick's fork</a> of <a
            href="https://leonidk.com/">Leonid Keselman's</a> <a href="https://github.com/leonidk/new_website">Jekyll
            fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
        </p>
      </td>
    </tr>
  </table>
</body>

</html>